
.container-div1, .container-div2 {
    margin: 50px;
    background-color: #965458;
    height: 600px !important;
    width:450px !important;
}
.container-div12 {
    margin: 50px;
    background-color: #965458;
    height: 600px !important;
    width:450px !important;
}
body {
    background-color: #e5c9cb;
}

.full-sudoku-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.error-count {
    color: red;
    opacity: 0.8;
    display: None;
}

hr {
    width: 450px;
}

.sudoku-box {
    height: 360px !important;
    width: 360px !important;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.number-box {
    height: 40px;
    width: 360px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.number-individual-box {
    color: black;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    margin: 2px;
    border-color: gray;
}

.number-individual-box:hover {
    background-color: white;
}

.current-btn {
    background-color: white;
}

.box-class {
    width: 36px;
    height: 36px;
    border: solid #dfebe0;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.filled-boxes {
    background-color: #c2f8ef;
    user-select: none;
    pointer-events: none;
}

.container-div1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.suduko-headlines {
    display: flex;
    flex-direction: column;
}

.suduko-heading {
    font-family: "Roboto";
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.choose-difficulty {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #ed2c5a;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.tips-rules {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fb0615;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.tips-rules-container {
    color: white;
    font-family: "Roboto";
    padding: 20px;
    text-align: left;
}

.submit-answer {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #1d93a6;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.try-another {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #426166;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.show-answer {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #253119;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.difficulty-level {
    text-align: left;
    margin-left: 50px;
    color: white;
    font-family: "Roboto";
    font-size: 22px;
}

.tips-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#successMessage {
    animation: fadeIn 2s ease-in-out;
}

.sudoku-box {
    animation: slideInFromLeft 1s ease-out;
}

.choose-difficulty, .tips-rules, .submit-answer, .try-another, .show-answer {
    animation: fadeIn 1.5s ease-in-out;
}

.number-box {
    animation: scaleUp 1s ease-in-out;
}

.suduko-heading {
    animation: fadeIn 2s ease-in-out;
}

.error-count {
    animation: fadeIn 2s ease-in-out;
}

.tips-rules-container {
    animation: fadeIn 2s ease-in-out;
}

.tips-rules, .submit-answer, .try-another, .show-answer {
    transition: background-color 0.3s ease-in-out;
}

.tips-rules:hover, .submit-answer:hover, .try-another:hover, .show-answer:hover {
    background-color: #ff8c8c;
}

@keyframes numberFadeInScale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.filled-boxes {
    animation: numberFadeInScale 0.5s ease-in-out;
}

.box-class:hover {
    background-color: #e2f4f5;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.number-individual-box.selected {
    animation: numberFadeInScale 0.3s ease-out;
    color: #0a2b2b;
    font-weight: bold;
}

.sudoku-box .box-class.filled-boxes {
    background-color: #c2f8ef;
    animation: numberFadeInScale 0.5s ease-in-out;
}

.number-individual-box.selected:hover {
    background-color: #f6f6f6;
    transition: background-color 0.3s ease;
}

@media ((min-width:0px) and (max-width: 600px) ){
    .container-div1, .container-div2 {
        width: 100%;
        height: 750px;
        margin: 10px;
    }

    .container-div12  {
        height: 800px !important;
        width:450px !important;
    }

    .sudoku-box{
        height:288px !important;
        width:288px !important;
    }
    body {
        margin-top:40px;
    }
    .box-class {
        height: 28px;
        width:28px;
    }
    .number-box {
        width:288px;
        height: 32px;
    }
    .number-individual-box {
       height:30px;
       margin:6px;
    }
    .tips-rules-container {
        height: 800px !important;
    }
    .choose-difficulty, .tips-rules, .submit-answer, .try-another, .show-answer {
        width: 100%;
        font-size: 18px;
    }

    .suduko-heading {
        font-size: 30px;
    }

    .difficulty-level, .error-count {
        font-size: 18px;
    }

    .tips-rules-container {
        padding: 10px;
    }
}


@media ((min-width: 600px) and (max-width: 768px)) {
    .container-div1, .container-div2 {
        width: 90%;
        height: auto;
        margin: 20px;
    }

    .sudoku-box {
        width: 90%;
    }

    .choose-difficulty, .tips-rules, .submit-answer, .try-another, .show-answer {
        width: 100%;
        font-size: 20px;
    }

    .suduko-heading {
        font-size: 35px;
    }

    .difficulty-level, .error-count {
        font-size: 20px;
    }
}


@media (min-width: 1024px) {
    .container-div1, .container-div2 {
        width: 550px;
        height: 700px !important;
    }

    .sudoku-box {
        width: 450px;
    }

    .choose-difficulty, .tips-rules, .submit-answer, .try-another, .show-answer {
        width: 200px;
    }

    .suduko-heading {
        font-size: 40px;
    }

    .difficulty-level, .error-count {
        font-size: 22px;
    }
    .number-individual-box {
        height:30px;
        margin:6px;
     }
}
.red-class {
    background-color: rgb(216, 9, 9);
}